.lobby-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

.lobby-table td,
.lobby-table th {
  border: 1px solid #ddd;
}

.lobby-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.lobby-table tr:hover {
  background-color: #ddd;
}

.lobby-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #394899;
  color: white;
}

#create-game {
  grid-area: create-game;
}

#logo-lobby {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.lobby-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}

.linkStyle {
  color: blue;
  text-underline: blue;
  cursor: pointer;
}
