.lobby-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

.lobby-table td,
.lobby-table th {
  border: 1px solid #ddd;
}

.lobby-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.lobby-table tr:hover {
  background-color: #ddd;
}

.lobby-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #394899;
  color: white;
}

#table-games {
  /*grid-area: games;*/
}

#table-users {
  /*grid-area: users;*/
}

#create-game {
  grid-area: create-game;
  /*margin-left: 10%;*/
  /*margin-right: auto;*/
  /*width: 50%;*/
  /*padding: 10px;*/
}

#logo-lobby {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.lobby-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  /*grid-template-columns: 33% 40% 20%;*/
  /*grid-template-areas: "games create-game users";*/
}

.linkStyle{
  color: blue;
  text-underline: blue;
  cursor: pointer;
}
