.board-layout {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 30% 40% 30%;
    grid-template-columns: 30% 40% 30%;
    grid-template-areas:
            ". playerUp ."
            "playerLeft centerBoard playerRight"
            ". playerDown .";
}

#player-up{
    grid-area: playerUp;
}

#player-down{
    grid-area: playerDown;
}

#player-left{
    grid-area: playerLeft;
}

#player-right{
    grid-area: playerRight;
}

.center-board{
    grid-area: centerBoard;
    margin:1%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.center-board-layout{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
            "playZone deck";
}

.playZone{
    width: 100%;
    grid-area: playZone;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.deck{
    width: 100%;
    grid-area: deck;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


