.this-player-card, .other-player-card, .card-playZone,.card-deck {
    /* shadow */
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    /* rounded border */
    border-radius: 10%;
}


.this-player-card{
    width:8%;
}

.card-playZone, .card-deck{
    width:24%;
}

.card-playZone{
    transform: rotate(30deg);
}

.other-player-card{
    width: 10%;
}



.legal-card:hover, .illegal-card:hover {
    border: 5px solid;
    z-index:100;
}

.legal-card:hover {
    border-color: lime;
}

.illegal-card:hover {
    border-color: red;
}

.legal-card:after, .illegal-card:after {
    border: 0 none transparent;
}

