@media screen and (max-width: 1100px){
    .info-layout {
        grid-template-columns: 40% 60%;
        grid-template-rows: 185px 190px;
        grid-template-areas:
                "gameStatus movesHistory"
                "presentUsers chat";
    }
}

@media screen and (min-width: 1100px){
    .info-layout {
        grid-template-rows: 25% 25% 25% 25%;
        grid-template-areas:
                "gameStatus"
                "presentUsers"
                "movesHistory"
                "chat";
    }
}

.info-layout{
    width: 100%;
    display: grid;

}

#game-status{
    grid-area: gameStatus;
}

#present-users{
    grid-area: presentUsers;
}

#moves-history{
    grid-area: movesHistory;
}

#chat{
    grid-area: chat;
}
