
.player{
    width: 100%;
    height: 100%;
}

/*

#player-down{
    grid-template-rows: 80% 20%;
    grid-template-areas:
            "playerHand"
            "playerHeadline";
}

#player-up{
    grid-template-rows: 20% 80%;
    grid-template-areas:
            "playerHeadline"
            "playerHand";
}

#player-left{
    grid-template-columns: 20% 80%;
    grid-template-areas:
            "playerHeadline"
            "playerHand";
}

#player-right{
    grid-template-columns: 80% 20%;
    grid-template-areas:
            "playerHand"
            "playerHeadline";
}

*/

.headline-up{
    transform: translate(0vw,-2vw);
}

.headline-down{
    transform: translate(0vw,10vw);
}

.headline-left{
    transform: translate(-10vw ,10vw) rotate(-90deg);
}

.headline-right{
    transform: translate(4vw ,10vw) rotate(90deg);
}

.player-headline{
    width: 29vw;

    /*height:100%;*/
    /*grid-area: playerHeadline;*/
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas:
            "playerIcon playerName";

    background-color: lightgray;
    border-radius: 20px;

    position: absolute;
}

.player-icon{
    grid-area: playerIcon;
}

.player-icon-img{
    width: 75%;
}

.player-name{
    grid-area: playerName;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5vw;
}

.hand-horizontal, .hand-vertical{
    grid-area: playerHand;
    display: flex;
    /*align-items: flex-start;*/

}

.hand-horizontal{
    flex-direction: row;
}

.hand-vertical{
    flex-direction: column;
}

.hand{
    margin: auto;
}
