
.player-horizontal{
    width: 100%;
    height: 100%;

    grid-template-rows: 80% 20%;
    grid-template-areas:
            "playerHand"
            "playerHeadline";
}

.player-vertical{
    width: 100%;
    height: 100%;

    grid-template-rows: 80% 20%;
    grid-template-areas:
            "playerHand"
            "playerHeadline";
}

.player-headline{
    width: 20vw;
    grid-area: playerHeadline;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas:
            "playerIcon playerName";

    background-color: lightgray;
    border-radius: 20px;
}

.player-icon{
    grid-area: playerIcon;
}

.player-icon-img{
    width: 75%;
}

.player-name{
    grid-area: playerName;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5vw;
}

.hand-horizontal, .hand-vertical{
    grid-area: playerHand;
}

.hand-vertical{
    display: flex;
    flex-direction: column;
}

