

.game-table-box{
    display: block;
    width: 280px;
    height: 120px;
    border-radius: 20px;
    background-color: #7679D8;
    margin: 5px;
    padding: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}